@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:wght@400;700&display=swap');

@import "_vars.scss";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/utilities";

body {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6, .title {
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}

.contact {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.contact-title {
    font-size: 1.5rem;

    &-icon {
        margin-right: 1rem;
        color: $themeColor;
    }
}

.help-card {
    &-icon {
        color: $themeColor;
        margin-right: 1rem;
        font-size: 2rem;
    }

    &-link {
        text-decoration: none;
    }
}

.navbar-nav {
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-nav .dropdown-toggle::after {
    border-top: .2em solid;
    border-right: .2em solid transparent;
    border-left: .2em solid transparent;
}



@import "blocks/Hero.scss";
@import "blocks/NavBar.scss";
@import "blocks/Logo.scss";
@import "blocks/Title.scss";
@import "blocks/QrCode.scss";
@import "blocks/PageHeader.scss";
@import "blocks/PageTitle.scss";
@import "blocks/MainContainer.scss";
@import "blocks/DownloadBanner.scss";
@import "blocks/Entry.scss";
@import "blocks/HomeSection.scss";
@import "blocks/HomeWrapper.scss";
@import "blocks/DownloadSection.scss";
