@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:wght@400;700&display=swap');

@import "_vars.scss";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/utilities";

body {
    font-family: 'Open Sans', sans-serif;
}
.main-container {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.main-container-item {
    margin-bottom: 3rem;
    &:last-child {
        margin-bottom: 0;
    }
}

h1,h2,h3,h4,h5,h6, .title {
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    text-transform: uppercase;
}

.page-title {
    line-height: 1.5;
    &::first-letter {
        color: $themeColor;
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color:$themeColor;
    }
}

.download-block {
    background-color: #ecf0f1;
}

.download-image {
    display: block;
    max-width: 200px;
}

.download-title {
    font-size: 1.5rem;
}

.entry {
    & p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.contact {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.contact-title {
    font-size: 1.5rem;

    &-icon {
        margin-right: 1rem;
        color: $themeColor;
    }
}

.help-card {
    &-icon {
        color: $themeColor;
        margin-right: 1rem;
        font-size: 2rem;
    }

    &-link {
        text-decoration: none;
    }
}

.navbar-nav {
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-nav .dropdown-toggle::after {
    border-top: .2em solid;
    border-right: .2em solid transparent;
    border-left: .2em solid transparent;
}



@import "blocks/Hero.scss";
@import "blocks/NavBar.scss";
@import "blocks/Logo.scss";
@import "blocks/Title.scss";
@import "blocks/QrCode.scss";
