<div class="card download-block">
    <div class="card-body row align-items-center">
        <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
            <span class="title download-title">Скачать приложение</span>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
            <a href="{{ site.google_play_url }}" class="download-image" target="_blank">
                <img src="/assets/img/google-play-resize.png" alt="Расчеты СИЗОД ГДЗС" class="img-fluid">
            </a>
        </div>
    </div>
</div>