<div class="card DownloadBanner">
    <div class="card-body row align-items-center">
        <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
            <span class="Title DownloadBanner__Title">Скачать приложение</span>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
            <div class="QrCode DownloadBanner__Qr d-none d-md-block">
                <img src="/assets/img/qr.png" alt="" class="QrCode__Image">
            </div>

            <a href="{{ site.google_play_url }}" class="DownloadBanner__Image" target="_blank">
                <img src="/assets/img/google-play-resize.png" alt="Расчеты СИЗОД ГДЗС" class="img-fluid">
            </a>
        </div>
    </div>
</div>