<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand title logo" href="{{ site.url }}">
            <div class="logo-image-wrapper">
                <img src="/assets/img/logo.png" alt="{{ site.title }}" class="logo-image">
            </div>
            <div class="logo-text">
                <span>gdzs.</span>eecode.ru
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="{{ site.url }}">Главная</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/contacts/">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>