.MainContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;

    &__Item {
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__SubTitle {
        margin-bottom: 0;
    }
}
