---
layout: base
---
<main class="container main-container flex-shrink-0">
    <div class="row main-container-item">
        <div class="col-12">
            <div class="page-header main-container-item">
                <h1 class="title page-title">
                    {% if page.title %}
                    {{ page.title }}
                    {% else %}
                    {{ site.title }}
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>

    <div class="row main-container-item">
        <div class="col-12">
            <div class="main-container-item">
                {% include download-banner.html %}
            </div>
        </div>
    </div>

    {{ content }}

</main>